body {
    font-family: Roboto, sans-serif;
    color: #434455;
}

.list {
    list-style: none;
}

.page-header {
    background-color: #FFFFFF;
}

.logo {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2E2F42;
}

.link {
    text-decoration: none;
}

.nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.nav-link:hover,
.nav-link:focus {
    color: #404BBF;
    ;
}


.contacts-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
}

.contacts-link:hover,
.contacts-link:focus {
    color: #4D5AE5;
}

.button-active {
    border: none;
}

.button-active {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    color: #FFFFFF;
    background-color: #4D5AE5;
    ;

}


.button-active:hover,
.button-active:focus {
    background-color: #404BBF;
    ;
}

.button {
    border: none;
}

.button {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    color: #4D5AE5;
    background-color: #F4F4FD;
    ;
}

.button:hover,
.button:focus {
    color: #FFFFFF;
    background-color: #404BBF;
}

.section-hero {
    background-color: #2E2F42;
}

.title-hero {
    font-weight: 700;
    font-size: 56px;
    line-height: 0.7;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.main-section {
    background-color: #FFFFFF;
}

.our-advantages {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
}

.section-specialization {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
}

.our-team {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;

}

.section-team {
    background-color: #F4F4FD;
}

.section-title {
    font-weight: 500;
    font-size: 20px;
    color: #2E2F42;
}

.section-paragraph {
    font-weight: 400;
    font-size: 16px;
    color: #434455;

}

.footer {
    background-color: #2E2F42;
}

.logo-web {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}

.footer-logo {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #F4F4FD;
}

.footer-paragraph {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #E7E9FC;
}